<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>

<body>
<div>
  <a href="../yam1">yam 1.0</a> | <a href="../ycrv">ycrv</a> | <a href="../weth">weth</a> | <a href="../yamycrv">yam2-ycrv</a>
</div>
<pre id="log">
__/\\\________/\\\_____/\\\\\\\\\_____/\\\\____________/\\\\_
 _\///\\\____/\\\/____/\\\\\\\\\\\\\__\/\\\\\\________/\\\\\\_
  ___\///\\\/\\\/_____/\\\/////////\\\_\/\\\//\\\____/\\\//\\\_
   _____\///\\\/______\/\\\_______\/\\\_\/\\\\///\\\/\\\/_\/\\\_
    _______\/\\\_______\/\\\\\\\\\\\\\\\_\/\\\__\///\\\/___\/\\\_
     _______\/\\\_______\/\\\/////////\\\_\/\\\____\///_____\/\\\_
      _______\/\\\_______\/\\\_______\/\\\_\/\\\_____________\/\\\_
       _______\/\\\_______\/\\\_______\/\\\_\/\\\_____________\/\\\_
        _______\///________\///________\///__\///______________\///__

</pre>
<div class="loader--1"></div>
<%- include(`${partials}/scripts`, {scriptname: 'yam_ycrv_lp'}); -%>
</body>
</html>
